/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: yellow; /* Yellow background for the whole page */
}

.container {
    border: 1px solid black; /* Black border around each container */
    background-color: #95E1D3;
    margin: 10px 0;
    padding: 15px;
}

h3 {
    float: right;
    width: 30%;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 125%;
    background-color: #EAFFD0;
}

h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 175%;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

p {
    padding: 10px;
    clear: right;
    font-size: 100%;
    border-top: 1px dashed black; /* Line to separate paragraph content */
    margin-top: 10px;
}

/* Large screen */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
        padding: 15px;
    }
}

/* Medium screen (tablet) */
@media (max-width: 991px) and (min-width: 768px) {
    .col-md-6, .col-md-12 {
        width: 50%;
        float: left;
        padding: 15px;
    }
}

/* Small screen (phone) */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        padding: 10px;
    }
}
